.more-stories {
  border-top: 1px solid #ddd;
}

.more-stories-image {
  float: left;

  & img {
    max-height: 25vw;
    width: 40vw;
    object-fit: cover;
  }
}

.more-stories-title {
  font-size: 17px;
  line-height: 20px;
}
