.more-stories {
  border-top: 1px solid #ddd;
}

.more-stories-image img {
  max-height: 25vw;
  width: 100%;
}

.more-stories-title {
  font-size: 17px;
  line-height: 20px;
}

.more-stories-summary {
}
