.opinion-articles {
  & :not(:last-child).separator {
    border-top: 1px solid #ddd;
  }
}

.opinion-article {
  // TODO: Extract Into Global Styles
  font: bold 17px/21px "Roboto Condensed", sans-serif;
}

.opinion-article-author {
  font-size: 14px;
  line-height: 21px;
  color: #555;
  text-transform: uppercase;
  margin-top: 4px;
}
