-
  const footerEditions = [
    "U.S Edition",
    "日本",
    "Pakistan",
    "Polska",
    "România"
  ]

  const footerSiteMap = [
    "About Us",
    "Corrections",
    "Contact Us",
    "Editorial Guidelines",
    "Advertise",
    "Copyright",
    "Terms & Conditions",
    "Privacy Policy",
    "Cookie Policy",
    "Terms of Sale",
    "Archive",
    "Announcements",
    "Consent preferences"
  ]

  const footerSocialPages = [
    {
      name: "facebook",
      link: "https://www.facebook.com/Newsweek"
    },
    {
      name: "twitter",
      link: "https://twitter.com/Newsweek"
    },
    {
      name: "instagram",
      link: "https://instagram.com/newsweek"
    },
    {
      name: "tumblr",
      link: "https://newsweekscience.tumblr.com"
    },
    {
      name: "linkedin",
      link: "https://www.linkedin.com/company/newsweek"
    }
  ]

footer.footer.container-fluid.mb-4.pt-4
  .footer-border.pb-4
  .footer-logo.mb-2
    include ../assets/brand-logo.svg
  .footer-copyright.mb-2
    span &copy; 2020 Newsweek
  .footer-social.d-flex
    each socialPage in footerSocialPages
      .footer-social-icon.mr-3
        a(target="_blank", href=socialPage.link)
          +iconSocial(socialPage.name)

  hr
  .footer-editions.row
    .col-3.pr-0
      strong.mt-1.d-block Editions:
    .col-8.pl-0
      for edition in footerEditions
        p.pr-3.mt-1.mb-1.d-inline-block= edition
  .footer-sitemap
    for siteLink in footerSiteMap
      p.font-14.pr-3.mt-1.mb-1.d-inline-block= siteLink
