.footer {
  @extend .container-fluid;
  @extend .mb-4;
  @extend .pt-4;

  background: rgb(255, 255, 255);
  color: #666;
}

.footer-border {
  @extend .pb-4;

  border-top: 2px solid #f4f5f6;
}

.footer-logo {
  @extend .mb-2;

  svg {
    display: block;
    fill: #f72210;
    height: 36px;
    margin-bottom: 12px;
    margin-right: 15px;
    width: 236px;
  }
}

.footer-copyright {
  @extend .mb-2;
}

.footer-social-icons {
  @extend .d-flex;
}

.footer-social-icon {
  @extend .mr-3;

  svg {
    $size: 25px;

    fill: #666;
    height: $size;
    width: $size;
  }
}

.footer-editions {
  @extend .row;
}

.footer-sitemap {
  @extend .flex-wrap;
  @extend .font-14;
  @extend .d-flex;
  @extend .pr-3;
  @extend .mt-1;
  @extend .mb-1;

  p {
    @extend .pr-3;
  }
}
