header.page-header
  .header-top

  .header-middle.d-flex
    .pt-3.pl-3.pb-3
      a.header-brand(href="/")
        span.header-brand
          include ../assets/brand-logo.svg

    .col.p-0.d-flex.align-items-center.justify-content-end
      a.font-roboto.font-bold.font-medium.font-14.header-action.m-1(href="/") Sign In
      a.font-roboto.font-bold.font-medium.font-14.header-action-subscribe(href="/") Subscribe
        span.arrow
      span.menu-icon
        +iconGeneral("menu")

  nav.header-bottom
  div
    ul.page-nav.list-group.list-group-horizontal
      each navItem in ["U.S.", "World", "Business", "Tech & Science", "Culture", "Newsgeek", "Sports", "Health", "The Debate", "Vantage"]
        li.nav-item.list-group-item.d-none.d-xl-block
          a(href="/")= navItem

    form.d-none.d-xl-block(action="/", method="post")
      label(for="search")
        input#search(type="text")
