// TODO: Refactor Below
header.page-header
  //- .header-top

  .header-middle
    .header-brand
      a(href="/")
        span
          include ../assets/brand-logo.svg

    .header-actions
      a.font-roboto.font-bold.font-medium.font-14.header-action.m-1(href="/") Sign In
      a.font-roboto.font-bold.font-medium.font-14.header-action-subscribe(href="/") Subscribe
        span.arrow
      span.menu-icon
        +iconGeneral("menu")

  nav.header-bottom
  div
    ul.page-nav.list-group.list-group-horizontal
      each navItem in ["U.S.", "World", "Business", "Tech & Science", "Culture", "Newsgeek", "Sports", "Health", "The Debate", "Vantage"]
        li.nav-item.list-group-item.d-none.d-xl-block
          a(href="/")= navItem

    form.d-none.d-xl-block(action="/", method="post")
      label(for="search")
        input#search(type="text")

