$red: #f72210;
$light-gray: #f4f5f6;
$dark-gray: #d9d9d9;

.page-header-top {
  @extend .position-relative;
  @extend .pt-lg-4;
  @extend .pb-lg-3;
  @extend .pl-lg-3;
  @extend .pr-lg-3;
  @extend .d-flex;
  @extend .pl-2;
  @extend .pr-2;
  @extend .pb-2;
  @extend .pt-2;

  background: $red;
}

.header-brand {
  @extend .justify-content-lg-center;
  @extend .col-lg-12;
  @extend .col-6;

  max-height: 60px;

  span {
    width: 132px;
    height: 20px;
  }

  svg {
    width: 100%;
    height: 100%;
    fill: white;
    display: block;
  }
}

.header-actions {
  // TODO: Rethink This
  @extend .justify-content-end;
  @extend .align-items-center;
  @extend .d-lg-block;
  @extend .col-lg-2;
  @extend .d-flex;
  @extend .col-6;
  @extend .p-0;

  right: 0px;
  width: 100%;
  bottom: 6px;
  position: absolute;
}

.header-singin {
  @extend .font-roboto;
  @extend .font-medium;
  @extend .font-bold;
  @extend .font-14;

  color: white;
  margin-right: 0.2rem;
  text-transform: uppercase;
}

.header-subscribe {
  @extend .font-roboto;
  @extend .font-medium;
  @extend .font-bold;
  @extend .font-14;

  color: $red;
  background: white;
  text-transform: uppercase;
  padding: 0.2em;

  .arrow {
    @extend .d-sm-inline;
    @extend .d-none;
  }
}

.menu-icon {
  @extend .d-lg-none;
  @extend .m-1;

  color: #fb9a94;

  svg {
    $size: 34px;
    width: $size;
    height: $size;
  }
}

.page-header-bottom {
  @extend .position-relative;
  @extend .d-lg-flex;
  @extend .d-none;

  background: white;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: $light-gray;

  ul {
    @extend .flex-grow-1;
    @extend .nav-fill;
    @extend .pt-3;
    @extend .pb-3;
    @extend .nav;

    li {
      @extend .nav-item;
      @extend .border-0;

      a {
        @extend .font-bold;
        @extend .nav-link;
        @extend .p-0;

        color: black;
        text-decoration: none;

        &:hover {
          color: $red;
        }
      }
    }
  }

  form {
    @extend .position-relative;

    margin-right: 80px;

    input {
      width: 90px;
      height: 54px;
      border: none;
      height: 100%;
      outline: none;
    }

    label {
      @extend .position-absolute;

      top: 15px;
      right: 0px;

      svg {
        width: 20px;
        height: 20px;
      }
    }
  }
}

.nav-separator {
  @extend .d-flex;

  height: 24px;
  align-self: center;
  border-left: 1px solid $dark-gray;
}

.nav-corner-cutoff {
  @extend .position-absolute;

  width: 78px;
  right: 0px;
  height: 13px;
  background: $red;
  border-top: 13px solid $red;
  border-left: 12px solid white;
}
