.latest-news-title {
  @extend .section-title;
}

.latest-news {
  & :not(:last-child).separator {
    border-top: 1px solid #ddd;
  }
}

.latest-news-article {
  @extend .pb-2;
  @extend .row;
}

.latest-news-article-image {
  @extend .col-5;
  @extend .col-md-3;

  img {
    @extend .img-fluid;

    width: 100%;
    max-height: 100px;
    object-fit: cover;
  }
}

.latest-news-article-title {
  @extend .col;
  @extend .p-0;

  font: bold 17px/21px "Roboto Condensed", sans-serif;
}
