.more-stories-title {
  @extend .section-title;
}

.more-stories {
  @extend .col;
  @extend .row;
}

.more-story {
  @extend .pt-3;
  @extend .pb-0;

  border-top: 1px solid #ddd;
}

.more-story-image {
  @extend .pl-0;
  @extend .col-md-5;

  float: left;

  img {
    @extend .img-fluid;

    max-height: 25vw;
    object-fit: cover;
    width: 40vw;
  }
}

.more-story-title {
  @extend .pl-1;

  font-size: 17px;
  line-height: 20px;

  p {
    @extend .font-roboto;
    @extend .mb-0;
  }
}

.more-story-summary {
  @extend .pt-2;

  p {
    @extend .font-15;
  }
}
