.newsletter-title Newsletter
.newsletter
  .newsletter-item
    img(src="https://d.newsweek.com/en/full/1541302/starting5-homepage.png", alt="Newsletter")
    .newsletter-item-body
      h3 The Starting 5
      p Take back your inbox. Sign up for our newsletter and start making sense of the world around you.
      a(href="https://www.pages05.net/newsweek/NewslettersTheStarting5/TheStartingFive") Sign Up >
