.newsletter-sign-up
  .row
    .col-2
      .newsweek-icon
    h3.newsletter-sign-up-title.col-10 Sign up for our Newsletter
  .row.pl-3.pr-3
    .newsletter-sign-up-button.col-5.col-lg-7 Sign up >
  .row
    .newsletter-sign-up-preferences.col Update your preferences »
