.newsletter-title {
  @extend .font-roboto;
  @extend .font-bold;
  @extend .mb-1;

  color: #f72210;
  text-transform: uppercase;
}

.newsletter {
  .card,
  .card * {
    border: 0;
    border-radius: 0;
  }

  .card-body {
    border: 1px solid #ebebeb;
  }
}

.newsletter-item {
  @extend .text-center;
  @extend .card;

  img {
    @extend .card-img-top;
  }
}

.newsletter-item-body {
  @extend .card-body;

  h3 {
    @extend .mb-3;
  }

  p {
    @extend .font-15;
    @extend .mb-4;
  }

  a {
    @extend .call-to-action-button;
    @extend .p-2;
  }
}
