.mt-4
.newsletter-title.font-roboto.font-bold.mb-1 Newsletter
.newsletter
  .card.text-center
    img.card-img-top(src="https://d.newsweek.com/en/full/1541302/starting5-homepage.png")
    .card-body
      h3.mb-3 The Starting 5
      p.mb-4.font-15 Take back your inbox. Sign up for our newsletter and start making sense of the world around you.
      a.call-to-action-button.p-2(href="https://www.pages05.net/newsweek/NewslettersTheStarting5/TheStartingFive") Sign Up >
