.subscribe-title.font-roboto.font-bold Subscribe
.subscribe.card.pl-3.pr-3.pt-4
  .row.card-img-top.position-relative
    .col-9
      img.img-fluid(src="https://d.newsweek.com/en/full/1582633/may-01-2020-cover.jpg")
    .col-9.offset-4.offset-top
      img.img-fluid(src="https://d.newsweek.com/en/full/1585087/may-08-15-2020-cover.jpg")

  .card-body.container.text-center
    h3.card-title.mb-3 In-depth Stories You Don't See Elsewhere About Topics You Want to Read!
    p.card-text.mb-4.font-15 All Access + Weekly Delivery. Choose A Membership That's Perfect for You!
    a.call-to-action-button.p-2(href="https://subscription.newsweek.com/subscribe") Subscribe
