.subscribe-title {
  @extend .font-roboto;
  @extend .font-bold;

  color: #f72210;
  text-transform: uppercase;
}

.subscribe {
  @extend .no-gutters;
  @extend .card;
  @extend .pl-3;
  @extend .pr-3;
  @extend .pt-4;
  @extend .row;

  background-color: #f4f5f6;
  border: 0;
  border-radius: 0;
  max-height: 400px;

  .offset-top {
    position: absolute;
    top: 14px;
  }
}

.subscribe-images {
  @extend .position-relative;
  @extend .card-img-top;
  @extend .col-lg-4;
  @extend .row;

  &:nth-child(2) {
    @extend .offset-4;
    @extend .offset-top;
  }
}

.subscribe-image {
  @extend .col-9;

  img {
    @extend .img-fluid;

    max-height: 170px;
  }
}

.subscribe-body {
  @extend .text-center;
  @extend .card-body;
  @extend .container;
  @extend .col-lg-4;
  @extend .row;

  h3 {
    @extend .card-title;
    @extend .mb-3;
  }

  p {
    @extend .card-text;
    @extend .font-15;
    @extend .mb-4;
  }

  a {
    @extend .call-to-action-button;
    @extend .p-2;
  }
}
