// Include Mixins
include _mixins
// Include Header
include partials/header

// TODO : Use Bootstrap Grid For Layout, And Order Items On Various Viewports

// Main Layout
main.container-fluid.pt-4
  section
    // Top Story
    include partials/top-story

  section
    // More Stories
    include partials/more-stories

  section
    // Culture & Travel
    include partials/culture-travel

  section
    // Featured Stories
    include partials/featured-stories

  section
    // Opinion
    include partials/opinion

  section
    // Latest News
    include partials/latest-news

  section
    // Sponsored Insight
    // Sign Up
    // Sponsored Insight * 4
    // Monthly Issue

  section
    // In The Magazine
    include partials/in-the-magazine

  section
    // Newsweek Conversations
    include partials/newsweek-conversations

  section
    // Editors Pick
    include partials/editors-pick

  section
    // Featured Slideshows
    include partials/featured-slideshows

  // Does Not Exist
  section
    // U.S.
    // World
    // Business
    // Tech & Science
    // Culture
    // Sports

  section
    // Subscribe
    // Newsletter

include partials/footer
