// Include Mixins
include _mixins
// Include Header
include partials/header

// TODO : Use Bootstrap Grid For Layout, And Order Items On Various Viewports

// Main Layout
main.container-fluid.pt-4
  section
    include partials/top-story

  section
    include partials/more-stories

  section
    include partials/culture-travel

  section
    include partials/featured-stories

  section
    include partials/opinion

  section
    include partials/latest-news

  section
    // Sponsored Insight
    // Sign Up
    // Sponsored Insight
    // Sponsored Insight
    // Monthly Issue

  section
    // In The Magazine

  section
    // Newsweek Conversations

  section
    // Editors Pick

  section
    // Featured Slideshows

  section
    // U.S.
    // World
    // Business
    // Tech & Science
    // Culture
    // Sports

  section
    // Subscribe
    // Newsletter

// Import Footer
