<!-- The (_layout.pug, _layout.scss) files define
layout restrictions for each individual section (grid area) -->

//- Preprocessor Mixins
include partials/_mixins

//- Icons
include partials/icons

//- Header
include sections/header

//- Main Layout
main.container-fluid.pt-4
  //- Top Story
  section(style={"grid-area": "top-story"})
    include sections/top-story

  //- More Stories
  section(style={"grid-area": "more-stories"})
    include sections/more-stories

  //- Culture & Travel
  section(style={"grid-area": "culture-travel"})
    include sections/culture-travel

  //- Featured Stories
  section(style={"grid-area": "featured-stories"})
    include sections/featured-stories

  //- Call To Action #1
  section(style={"grid-area": "call-to-action-1"})
    //- TODO: Sponsored Insight
    //- TODO: Sponsored Insight
    //- TODO: Sweepstakes
    //- TODO: Sponsored Insight

  //- Opinion
  section(style={"grid-area": "opinion"})
    include sections/opinion

  //- Latest News
  section(style={"grid-area": "latest-news"})
    include sections/latest-news

  //- Call To Action #2
  section(style={"grid-area": "call-to-action-2"})
    //- TODO: Sponsored Insight
    //- TODO: Sign Up For Newsletter
    //- TODO: Sponsored Insight
    //- TODO: Sponsored Insight
    //- TODO: Sponsored Insight
    //- TODO: Monthly Issue

  //- In The Magazine
  section(style={"grid-area": "in-the-magazine"})
    include sections/in-the-magazine

  //- Newsweek Conversations
  section(style={"grid-area": "newsweek-conversations"})
    include sections/newsweek-conversations

  //- Editors Pick
  section(style={"grid-area": "editors-pick"})
    include sections/editors-pick

  //- Featured Slideshows
  section(style={"grid-area": "featured-slideshows"})
    include sections/featured-slideshows

  //- Call To Action #3
  section(style={"grid-area": "call-to-action-3"})
    //- TODO: Subscribe
    //- TODO: Newsletter

//- Footer
include sections/footer
