// Fonts
@import url("https://fonts.googleapis.com/css?family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:700&display=swap");

// Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

// Mixins
@import "partials/_mixins";

// Icons
@import "partials/icons";

// Layout Sections Of Page
@import "_layout";

// Global Styles
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Condensed", sans-serif;
  margin-bottom: 10px;
  position: relative;
  color: black;
}

h3 {
  font-size: 20px;
  line-height: 20px;
}

article {
  padding-bottom: 20px;
}

.font-roboto {
  font-family: "Roboto Condensed", sans-serif;
}

.font-13 {
  font-size: 13px;
}

.font-14 {
  font-size: 14px;
}

.font-16 {
  font-size: 16px;
}

.font-18 {
  font-size: 18px;
  line-height: 18px;
}

.font-bold {
  font-weight: 700;
}

@media screen and (min-width: 481px) {
  .font-medium {
    font-size: 18px;
  }
}

.section-title {
  font: bold 16px/16px "Roboto Condensed", sans-serif;
  color: rgba(3, 3, 3, 0.4);
  text-transform: uppercase;
  padding-bottom: 11px;
}

.block-title {
  font: bold 16px/16px "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  padding-bottom: 11px;
  color: rgba(12, 11, 11, 0.8);
}
